.container {
    padding-top: 10px;
}

canvas {
    background-color: #E0E0E0;
    padding: 15px;
    margin: auto;
    /*width: 100%;
    height: auto;*/
}
/*
.border-bottom {
    border-bottom: 1px solid black;   
}

.border-right {
    border-right: 1px solid black;   
}

.border-both {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}*/