body {
    /*overflow: hidden; /*Removes scrollbar and scroll capability, to make it full screen. */
    background-color: #F9F9F9;
}

#mainContainer {
    margin-top: 25px;
    margin-bottom: 25px;
}
/*
.gameRow {
    width: 75%;
    margin: 0 auto;
} */

.subGame {
    background-color: #E0E0E0;
    padding: 0;
    width: 33%;
    margin: 0px;
}

.subGame.inactive {
    background-color: #BDBDBD;
}

#r1c1 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#r1c2 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
#r1c3 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
#r2c1 {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#r2c2 {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
#r2c3 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
#r3c1 {
    border-top: 2px solid black;
    border-right: 2px solid black;
}
#r3c2 {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
#r3c3 {
    border-top: 2px solid black;
    border-left: 2px solid black;
}